* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#hr1 {
  border-bottom: 33.33vh solid #f93;
  margin-bottom: 33.33vh;
  background-color: #f93;
}

#hr2 {
  border-top: 33.33vh solid #080;
}
