body {
  margin: 0;
  display: flex;
  height: 100vh;
}

div {
  flex-grow: 1;
  background: linear-gradient(
    to bottom,
    #ff9933 0%,
    #ff9933 33.33%,
    #fff 33.33%,
    #fff 66.66%,
    green 66.66%
  );
}
